/* Fonts for the demo */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url(/inter-latin-ext-700-normal.woff) format('woff2');
  }
  
  /* UI */
  @font-face {
    font-family: 'iaw-mono-var';
    font-weight: 100 700;
    font-style: normal;
    font-named-instance: 'Regular';
    font-display: block;
    src: url('/iaw-mono-var.woff2') format('woff2');
  }
  
  :root {
    --font: iaw-mono-var, SF Mono, SFMono-Regular, ui-monospace, Menlo, Consolas,
      monospace;
  }
  
  
  .playground-body {
    font-family: var(--font);
    font-variant: common-ligatures contextual;
    background: fixed 0 0 /20px 20px radial-gradient(#d1d1d1 1px, transparent 0),
      fixed 10px 10px /20px 20px radial-gradient(#d1d1d1 1px, transparent 0);
    --border-inactive: 1px solid #e4e4e4;
  }
  
  
  iframe {
    position: absolute;
    border: none;
    appearance: none;
  }
  
  .content-wrapper svg {
    width: 100%;
    height: 100%;
  }